<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="cog-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-4 h-full bg_field">
    <div [formGroup]="settingsForm">
      <!-- Disabled Segment -->
      <div>
        <ion-label class="text-white">Difficulty</ion-label>
        <ion-segment formControlName="difficulty" mode="ios">
          <ion-segment-button [value]="DIFFICULTY_ENUM.easy">
            <ion-label>Easy</ion-label>
          </ion-segment-button>
          <ion-segment-button [value]="DIFFICULTY_ENUM.medium">
            <ion-label>Normal</ion-label>
          </ion-segment-button>
          <ion-segment-button [value]="DIFFICULTY_ENUM.hard">
            <ion-label>Hard</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>
    </div>
    <ion-button
      *ngIf="authService.isAuthenticated$ | async"
      class="mt-5"
      shape="round"
      expand="full"
      (click)="logout()"
      >Logout</ion-button
    >
  </div>
</ion-content>
